*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
}

.container {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario {
    background-color: whitesmoke;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    border-radius: 14px;
    margin-top: 1.5rem;
    box-shadow: 5px 4px 5px darkgray;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
}

.input-container label {
    margin-bottom: 0.4rem;
}

.input-container input {
    border-radius: 10px;
    border: 1px solid darkgray;
    padding: 0.5rem;
}

.boton-mensaje {
    margin-top: 0.8rem;
    background-color: red;
    color: white;
    padding: 0.3rem;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px darkgray;
}

.boton-mensaje:hover {
    cursor: pointer;
    background-color: #c21736;
}

.boton-mensaje:active {
    box-shadow: none;
}

.errores {
    font-size: 00.6rem;
    color: #c21736;
}